* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.App {
  text-align: center;
}


.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 200ms ease-out;
}

.feedback-enter {
  opacity: 0;
}
.feedback-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}
